body {
  background-color: #404040;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  box-shadow: 3px 3px 6px #404040;
  border-radius: 8px;
  padding: 50px;
  text-align: center;
}

h3 {
  margin: 15px;
  margin-top: -10px;
  text-align: center;
  text-transform: uppercase;
  font-size: 23px;
  font-family: "Helvetica";
  color: #040d12;
  text-shadow: 1px 2px 2px #404040;
  letter-spacing: 1px;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-sizing: border-box;
  font-size: 16px;
}

input[type="text"]:focus,
input[type="password"]:focus {
  border-color: #12372a;
  outline: none;
}

.btn-primary {
  margin-top: 10px;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 0px solid;
  border-radius: 5px;
  background-color: orange;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  box-sizing: border-box;
  transition: background-color 0.3s;
}

.btn-primary:hover {
  background-color: #404040;
}

hr {
  margin: 5px 0;
  border: none;
  border-top: 1px solid #ccc;
}

.logbtn {
  margin-top: 10px;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 0px solid;
  border-radius: 5px;
  background-color: orange;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  box-sizing: border-box;
  transition: background-color 0.3s;
}

.logbtn:hover {
  background-color: #adbc9f;
}

.link-container {
  margin-top: 3vh;
}

.link-container a {
  text-decoration: none;
}
