body {
  background-color: #d2e3c8;
}

header {
  display: block;
  padding: 20px;
}

header div {
  float: left;
  margin-left: 18vh;
}

header a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: inherit;
}

header button {
  float: right;
  margin-right: 18vh;
  margin-top: 5px;
}

.container {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 50px;
}

.table-container {
  margin: -4vh 20vh 20vh 20vh;
}

table {
  margin-top: 10vh;
  border-collapse: collapse;
  width: 100%;
  align-items: center;
}

table,
th,
td {
  border: 1px solid black;
}

#recipe-tbl {
  vertical-align: top;
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#recipe-tbl td,
#recipe-tbl th {
  border: 1px solid #ddd;
  padding: 8px;
}

#recipe-tbl tr:nth-child(even) {
  background-color: #f2f2f2;
}

#recipe-tbl tr:hover {
  background-color: #ddd;
}

#recipe-tbl th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #048eaa;
  color: white;
}

.box1 h3 {
  float: left;
}

.box1 a {
  float: right;
  margin-left: 50%;
}

.form-label {
  font-size: 25px;
}

img {
  object-fit: cover;
}

a {
  color: #000;
  text-decoration: none;
  font-size: 30px;
}

span {
  color: orange;
}

#add {
  vertical-align: top;
}
img{
  height: 100px;
  width: 100px; 
  object-fit:cover;
}